<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>JavaScript Gamepad Demo</title>
    
    
    <link rel="stylesheet" type="text/css" href="views/bootstrap/min.css">
    <script type="text/javascript" src="views/bootstrap/min.js"></script>
    <script type="text/javascript" src="socket.io/socket.io.js"></script>


    <link rel="stylesheet" type="text/css" href="views/control.css">

    <script type="text/javascript" src="views/controller.js"></script>
    <script type="text/javascript" src="views/socket.js"></script>
</head>

<script>
  function toggleFullScreen() {
    if (!document.fullscreenElement) {
      document.documentElement.requestFullscreen();
    } else {
      if (document.exitFullscreen) {
        document.exitFullscreen();
      }
    }
  }
</script>

<body class="wrapper">
  <div>
    <div id="dummy" class="d-none"></div>

    <div class="w-100 mt-3">
      <div class="d-flex main">
        <div class="left p-2">
          <div class="trigger" id="l1">l1</div>
          <div class="trigger" id="l2">l2</div>

          <div class="dpad mt-5">
            <div class="w" id="dw">W</div>
            <div class="a" id="da">A</div>
            <div class="s" id="ds">S</div>
            <div class="d" id="dd">D</div> 
          </div>
          
          <div id="leftjoystick" class="joystick mt-4">
            <div class="stick"> <div class="pointer"></div> </div>
            
          </div>
          <br/>
          <button class="fullscr" onclick="toggleFullScreen();">Fullscreen</button>
        </div>

        <div class="center flex-grow-1 ">
          <div class="viewer">
            <iframe src="http://116.127.164.3:30003/browserfs.html" style="height:100%; width:100%;"></iframe>
          </div>
        </div>

        <div class="right p-2">
          <div class="trigger" id="r1">r1</div>
          <div class="trigger" id="r2">r2</div>

          <div class="dpad mt-5">
            <div class="w" id="ky">Y</div>
            <div class="a" id="kx">X</div>
            <div class="s" id="ka">A</div>
            <div class="d" id="kb">B</div> 
          </div>

          <div id="rightjoystick" class="joystick mt-4">
            <div class="stick"> <div class="pointer"></div> </div>
            <div class="stickpos"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>