<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>JavaScript Gamepad Demo</title>
    <link rel="stylesheet" type="text/css" href="views/control.css">
    <script type="text/javascript" src="views/controller.js"></script>

    
    <link rel="stylesheet" type="text/css" href="views/bootstrap/min.css">
    <script type="text/javascript" src="views/bootstrap/min.js"></script>
</head>

<script>
  function toggleFullScreen() {
    if (!document.fullscreenElement) {
      document.documentElement.requestFullscreen();
    } else {
      if (document.exitFullscreen) {
        document.exitFullscreen();
      }
    }
  }
</script>

<body>
  <div class="wrapper">
    <div id="dummy" class="d-none"></div>
    <button class="fullscr" onclick="toggleFullScreen();">Fullscreen</button>

    <div class="w-100">
      <div class="d-flex main">
        <div class="left p-2">
          <div class="trigger" id="l1">l1</div>
          <div class="trigger" id="l2">l2</div>

          <div class="dpad mt-5">
            <div class="w" id="wdir">W</div>
            <div class="a" id="adir">A</div>
            <div class="s" id="sdir">S</div>
            <div class="d" id="ddir">D</div> 
          </div>
          
          <div id="leftjoystick" class="joystick mt-4">
            <div class="stick"> <div class="pointer"></div> </div>
            <div class="stickpos"></div>
          </div>
        </div>

        <div class="center flex-grow-1 p-2">a</div>

        <div class="right p-2">
          <div class="trigger" id="r1">r1</div>
          <div class="trigger" id="r2">r2</div>

          <div class="dpad mt-5">
            <div class="w" id="ykey">Y</div>
            <div class="a" id="xkey">X</div>
            <div class="s" id="akey">A</div>
            <div class="d" id="bkey">B</div> 
          </div>

          <div id="rightjoystick" class="joystick mt-4">
            <div class="stick"> <div class="pointer"></div> </div>
            <div class="stickpos"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>